body {
  background-color: darkslateblue;
  display: grid;
  grid-area: 1fr 1fr 1fr;
}

.calculator {
  display: grid;
  margin-top: 25px;
}

#screen {
  background-color: rgb(151, 101, 243);
  display: grid;
  grid-column: 2/ 3;
  grid-row: 1/2;
  width: 400px;
  padding: 20px;
   border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 1px 5px 10px rgb(32, 5, 75), inset 3px 3px 4px rgb(231, 221, 248), inset -1px -1px 8px rgb(44, 21, 148);
  
}

#myForm {
  display: grid;
}

#display {
  background-color: rgb(117, 250, 206);
    font-family: "Silkscreen", sans-serif;
  color:rgb(12, 170, 123);
  text-shadow: 3px 3px 2px rgb(4, 70, 50);
  width: 300px;
  height: 80px;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2/3;
  
  font-size: 35px;
  border-radius: 1rem;
  border-style: hidden;
  box-shadow: inset 3px 3px 3px rgb(7, 168, 88), 4px 3px 3px rgb(217, 213, 248); 
  padding-left: 1rem;
  margin: 0.5rem;
}

.buttonbody {
  background-color: rgb(176, 120, 248);
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-content: center;
  width: 400px;
  padding: 20px;
   border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 1px 5px 10px rgb(32, 5, 75), inset 3px 1px 5px rgb(217, 196, 250), inset -1px -2px 8px rgb(44, 21, 148);
}

button {
  background-color: rgb(162, 30, 228);
  display: grid;
  width: 80px;
  height: 50px;
  font-family: "Sixtyfour", sans-serif;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
  font-size: 25px;
  font-weight: bold;
  color: rgb(240, 199, 111);
  text-shadow: 2px 2px 2px rgb(59, 2, 85);
  align-items: center;
  border-radius: 20px;
  border-style: hidden;
  /* box-shadow: 0px 3px 8px rgb(37, 1, 61); */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset, inset 2px 2px 4px rgb(177, 105, 245), inset -1px -2px 8px rgb(44, 21, 148);
  margin: 3px;
}

#one {
  display: grid;
  grid-area: 4/1/5/2;
}

#two {
  display: grid;
  grid-area: 4/2/5/3;
}

#three {
  display: grid;
  grid-area: 4/3/5/4;
}

#four {
  display: grid;
  grid-area: 3/1/4/2;
}

#five {
  display: grid;
  grid-area: 3/2/4/3;
}

#six {
  display: grid;
  grid-area: 3/3/3/3;
}

#seven {
  display: grid;
  grid-area: 2/1/3/2;
}

#eight {
  display: grid;
  grid-area: 2/2/3/3;
}

#nine {
  display: grid;
  grid-area: 2/3/3/4;
}

#zero {
  display: grid;
  grid-area: 5/1/5/2;
}

#plus {
  display: grid;
  grid-area: 5/4/5/5;
}

#minus {
  display: grid;
  grid-area: 4/4/5/5;
}

#multiply {
  display: grid;
  grid-area: 3/4/4/5;
}

#divide {
  display: grid;
  grid-area: 2/4/3/5;
}

#equal {
  display: grid;
  grid-area: 5/3/5/4;
}

#clearDisplay {
  display: grid;
  grid-area: 5/2/5/3;
}

#links a{
  display: flex;
  justify-content: center;
  margin: 4rem;
  align-content: space-around;
  text-decoration: none;
  color: rgb(40, 11, 107);
  font-family: cursive;
}

#links :hover {
  text-shadow: 0px 0px 1.5rem lightyellow;
  color:rgb(190, 28, 240);

}